<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">{{job['title']}}</h4>
        <div>
            <b>Location:</b>{{job['location']}}
        </div>
        {% if 'salary' in job %}
        <div>
            <b>Salary:</b>{{job['salary']}}
        </div>
        {% endif %}
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center" style="height: 100px;">
        <a href="mailto:jovian@gmail.com?subject=Application%20form%20for%20{{job['title']}}%20role&body=Name%20-%20%3CYour%20Name%3E%0D%0AAge%20-%20%3CYour%20Age%3E%0D%0AQualification%20-%20%3CYour%20Qualifications%3E%0D%0AContact%20Number%20-%20%3CYour%20Contact%20Number%3E" type="button" class="btn btn-outline-primary flex-shrink-0">Apply</a>    
    </div>
</div>